{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="01-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What shape of cake do you want?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circle" name="cake-shape" type="radio" value="circle">
                <label class="govuk-label govuk-radios__label" for="circle">
                  Circle
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="square" name="cake-shape" type="radio" value="square">
                <label class="govuk-label govuk-radios__label" for="square">
                  Square
                </label>
              </div>

            </div>
          </fieldset>
        </div>
        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
